html, body, #app, .el-container, .el-tabs, .el-tabs__content, .el-tab-pane, .el-tab-pane iframe, .iframe_wall {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.win-control-osbtns{
    position: absolute;
    top: 0;
    right: 6px;
    width: 200px;
    height: 30px;
    font-size: 18px;
    text-align: right;
    line-height: 30px;
}

.win-control-osbtn{
    color:#000;
    margin: 0 3px;
}

/*windows的透明就是完全透明了~ 这里处理一下*/
.win-control-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #ddd;
    border: 1px solid #ddd;
    filter: opacity(95%);
    display: none;
}

.win-control-upbg{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 2;
}

html, body{
    overflow-x: hidden;
}

.ivu-modal-mask, .ivu-modal-content{
    background-color: none;
    background: transparent;
}

.el-header {
    /*线性色渐变*/
    /*background: -webkit-linear-gradient(top, rgb(230,228,229) 0%,rgb(230, 230, 230) 100%) ;*/
    /*background: rgb(229,228,229);*/
    background: transparent;
    color: #333;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    font-family: "PingFang SC";
}

.el-container .el-tabs__header {
    /*box-shadow: rgb(221,216,218) 1px 1px 1px 0px;*/
    z-index: 20181231;
    position: relative;
}

.el-container .el-tabs {
    width: 100%;
    height: calc(100% - 65px);
}

.el-tabs__header {
    /*background: -webkit-linear-gradient(top, rgb(230,230,230) 0%,rgb(228, 224, 225) 100%) ;*/
    /*background: rgb(229,228,229);*/
    background: transparent;
    /*margin: 0 0 10px;*/
    margin: 0;
}

.el-container .el-tabs__nav-scroll {
    padding: 0 15px;
}

.el-tabs__content {
    background: #fff;
}

.el-container .el-tabs__nav-scroll {
    -webkit-user-select: none;
    z-index: 20190104;
}

.el-tabs__item {
    height: 35px;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;

    /*-webkit-app-region: no-drag;*/
    z-index: 20190105;
}

.el-tabs__item.is-active {
    font-weight: 500;
}

.el-dropdown-menu {
    z-index: 100001 !important;
}

.zxx-controls {
    position: absolute;
    top: 32px;
    right: 5px;
    z-index: 20190619;
    -webkit-user-select: none;
    /*-webkit-app-region: no-drag;*/
}

.zxx-control-btn {
    color: #666 !important;
    font-size: 19px;
    cursor: pointer;
    margin: 0 5px;
}