<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../assets/lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/lib/iview/css/iview.css">
    <link rel="stylesheet" href="../../assets/lib/element-ui/css/element.css">
    <link rel="stylesheet" href="../../assets/css/ideawall.css">
    <link rel="stylesheet" href="../../assets/css/control.css">
    <link rel="stylesheet" href="../../assets/css/control-mydesk.css">
</head>
<body>
<div id="app" v-cloak style="text-align: center;overflow: hidden;background: rgb(244,244,244);" v-loading="loading">
    <iframe id="iframe_browser" class="iframe_wall J_iframe active" name="iframe_browser"
            :data-src="link" frameborder="0" allowtransparency="true"></iframe>
</div>
</body>
<script src="../../core/Proxy.js"></script>
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/vue.min.js"></script>
<script src="../../assets/lib/iview/js/iview.min.js"></script>
<script src="../../assets/lib/element-ui/js/element.min.js"></script>
<script src="../../controller/BrowserController.js"></script>
<script src="../../assets/js/zxx.min.js"></script>
</html>