<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../../assets/lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../../assets/lib/element-ui/css/element.css">
    <link rel="stylesheet" href="../../../../assets/css/ideawall.css">
    <link rel="stylesheet" href="../../../../assets/css/comment.css">
</head>
<body>
<div id="app" v-cloak>
    <div id="commnet-containter">
        <!--PC版-->
        <div id="SOHUCS" sid="请将此处替换为配置SourceID的语句"></div>
        <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
        <script type="text/javascript">
            window.changyan.api.config({
                appid: 'cyuhpyT0r',
                conf: 'prod_a25767d0e0b7f82d2967529680ae6767'
            });
        </script>
    </div>
</div>
</body>
<script src="../../../../core/Proxy.js"></script>
<script src="../../../../assets/js/jquery.min.js"></script>
<script src="../../../../assets/js/vue.min.js"></script>
<script src="../../../../assets/lib/element-ui/js/element.min.js"></script>
<script src="../../../../controller/CommentController.js"></script>
<script src="../../../../assets/js/zxx.min.js"></script>
</html>